{% load static %}
<div class="navbar">
    <div class="navbar_burger_place">
    <div class="navbar_burger">
        <div class="burger_icon" onclick="toggleBurgerMenu()">☰</div>
        <div class="burger_menu" id="burgerMenu">
            <a href="#">wyszukaj</a>
            <a href="#">filtruj</a>
            <a href="#">zamień</a>
            <a href="#">przejdź</a>
        </div>
    </div>
    </div>
    <div class="navbar_buttons_place">
        <div class="navbar_buttons">
            <div class="navbar_btn">
                <a href="{% url 'base' %}">Strona Główna</a>
            </div>
            <div class="navbar_btn">
                <a href="{% url 'kitchen_manager' %}">Zarządzaj Kuchnią</a>
            </div>
            <div class="navbar_btn">
                <a href="{% url 'products' %}">Lista Produktów</a>
            </div>
            <div class="navbar_btn">
                <a href="{% url 'recipies' %}">Przepisy</a>
            </div>
            <div class="navbar_btn">
                <a href="{% url 'calendar' %}">Kalendarz</a>
            </div>
        </div>
    </div>
     <div class="navbar_user_place">
         <div class='user_name'>
             {{ user }}
         </div>
        <div class="user_icon" onclick="toggleUserMenu()">&#128100;</div>
        <div class="user_menu" id="userMenu">
            {% if user.is_authenticated %}
            <a href="{% url 'logout' %}">Wyloguj</a>
            {% else %}
            <a href="{% url 'login_user' %}">Zaloguj</a>
            <a href="{% url 'register_user' %}">Zarejestruj</a>
            {% endif %}
        </div>
    </div>
</div>