html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
}

.body_of_website {
    position: relative;
}

.logo_place {
    background-color: bisque;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 80px;
    position: fixed;
    top: 0;
    z-index: 1;
}

.logo {
    color: #968e7d;
    height: 40px;
    border: 2px solid #968e7d;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 50px;
    padding-right: 50px;
    border-radius: 5px;
    margin-bottom: 10px;
    margin-top: 10px;
    font-family: "Comfortaa", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    letter-spacing: 3px;
}

.view_of_content {
    background-image: url("images/cerata.jpg");
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    position: sticky;
    margin-top: 80px;
    z-index: 1000;
    box-shadow: 0  5px 5px rgba(0, 0, 0, 0.3);
}

.navbar {
    background-color: #734632;
    width: 100%;
    height: 70px;
    display: flex;
    align-items: center;
    box-shadow: 0 -5px 5px rgba(0, 0, 0, 0.3), 0 5px 5px rgba(0, 0, 0, 0.3);
    border-bottom: 10px solid #674135;
}

.navbar_buttons_place {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    width: 70%;
    height: 100%;
}


.navbar_buttons {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar_btn {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    color: white;
    width: 100%;
    font-family: "Baloo Bhaijaan 2", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    font-size: 20px;
}

.navbar_btn a {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    color: #cecab5;
    text-decoration: none;
    text-shadow:
            1px 1px 0 #3f3e3a
}

.navbar_btn a:hover {
    background-color: #937469;
}

.navbar_burger_place {
    display: flex;
    align-items: center;
    flex-direction: row;
    width: 15%;
    height: 100%;
}

.navbar_burger {
    display: flex;
    align-items: center;
    justify-content: left;
    flex-direction: row;
    margin-left: 40px;
    position: relative;
}

.burger_icon {
    font-size: 30px;
    cursor: pointer;
    color: #cecab5;
    font-family: "LXGW WenKai TC", cursive;
    font-weight: 400;
    font-style: normal;
}

.burger_menu {
    display: none;
    margin-top: 750px;
    margin-left: -80px;
    top: 100%;
    left: 0;
    background-color: #463b35;
    box-shadow: 5px 0 10px rgba(0, 0, 0, 0.5);
    z-index: 900;
    flex-direction: column;
    width: 300px;
    border: #57544b solid 4px;
    border-radius: 5px;
    height: 600px;
}

.burger_menu a {
    color: #cecab5;
    text-decoration: none;
    padding: 10px;
    display: block;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.burger_menu a:hover {
    background-color: #937469;
}

.navbar_user_place {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    width: 15%;
    height: 100%;
}

.sticky {
    position: fixed;
    top: 0;
    z-index: 1001;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.3);
}

.content_structure {
    background-color: rgb(253, 232, 206);
    height: 1500px;
    width: 60%;
    justify-content: center;
    flex-direction: row;
    display: flex;
    border-left: 4px solid #d9d3bd;
    border-right: 4px solid #d9d3bd;
}

.body_of_content {
    margin-top: 15px;
    margin-bottom: 40px;
    display: flex;
    border: 3px solid #968e7d;
    border-radius: 5px;
    width: 95%;
}

.footer {
    bottom: 0;
    background-color: #57544b;
    height: 50px;
    width: 100%;
    border-top: 3px solid #42423e;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #cecab5;
}

.navbar_user_place {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    width: 15%;
    height: 100%;
    position: relative;
}

.user_icon {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    cursor: pointer;
    color: red;
    height: 40px;
    width: 40px;
    background-color: #cecab5;
    margin-left: 15px;
    border-radius: 20px;
}

.user_menu {
    display: none;
    position: absolute;
    top: 100%;
    right: 0;
    background-color: #463b35;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.3);
    z-index: 1000;
    flex-direction: column;
    width: 150px;
    border: #57544b solid 4px;
}

.user_menu a {
    color: #cecab5;
    text-decoration: none;
    padding: 10px;
    display: block;
}

.user_menu a:hover {
    background-color: #937469;
}

.content {
    text-align: center;
}