{% extends 'base/base.html' %}
{% load static %}
{% block content %}
    <div class="body_of_content">
        <div class="content_title_place">
            <div class="content_title">
                <h1>Zarządzaj Kuchnią</h1>
            </div>
        </div>
        <div class="products_containers_body">
            <div class="products_containers_choice">
                <h2>Wybierz Element Kuchni</h2>
            </div>
            <div class="kitchen_manager_list">
                <a href="{% url 'catalog_start' %}">Kartoteka</a><p></p>
                <a href="{% url 'magazine_start' %}">Magazyn</a><p></p>
            </div>
        </div>
    </div>
{% endblock %}
