{% extends 'base/base.html' %}
{% load static %}
{% block content %}
    <div class="body_of_content">
        <div class="content_title_place">
            <div class="content_title">
                <h1>Zarządzaj Kuchnią</h1>
            </div>
        </div>
        <div class="products_containers_body">
            <div class="products_containers_choice">
                <h2>Dodaj Magazyn</h2>
            </div>
            <div class="register_form_body">
                <form method="post">
                    {% csrf_token %}
                    <input type="text" name="name" placeholder="Wprowadź nazwę magazynu">
                    <label>Czy jest lodówką?</label>
                    <input type="checkbox" name="is_cooler">
                    <input type="submit" value="Utwórz">
                </form>
            </div>
            {% if error %}
            <div class="form_error">
            {{ error }}
            </div>
            {% endif %}
        </div>
    </div>
{% endblock %}