{% load static %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Food Manager</title>
    <link rel="stylesheet" href="{% static 'base.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@100..900&display=swap" rel="stylesheet">
    <script src="{% static 'javascript.js' %}"></script>
</head>
<body>
<div class="body_of_website">
    <div class="logo_place">
        <div class="logo">
            <h2>food manager</h2>
        </div>
    </div>
    <div class="view_of_content">
        <div class="navbar">
            <div class="navbar_button">
                <a>BUTTON</a>
            </div>
            <div class="navbar_button">
                <a>BUTTON</a>
            </div>
        </div>
        <div class="content">
            <h1>JESTEM NAJLEPSZY</h1>
        </div>
    </div>
</div>
</body>
</html>
