{% load static %}
<div class="navbar">
    <div class="navbar_burger_place">
    <div class="navbar_burger">
        <div class="burger_icon" onclick="toggleBurgerMenu()">☰</div>
        <div class="burger_menu" id="burgerMenu">
            <a href="#">Wyszukaj</a>
            <a href="#">Filtruj</a>
            <a href="#">Zamień</a>
            <a href="#">Przejdź</a>
        </div>
    </div>
    </div>
    <div class="navbar_buttons_place">
        <div class="navbar_buttons">
            <div class="navbar_btn">
                <a href="#">Strona Główna</a>
            </div>
            <div class="navbar_btn">
                <a href="#">Zarządzaj Kuchnią</a>
            </div>
            <div class="navbar_btn">
                <a href="#">Twoje Produkty</a>
            </div>
            <div class="navbar_btn">
                <a href="#">Przepisy</a>
            </div>
            <div class="navbar_btn">
                <a href="#">Kalendarz</a>
            </div>
        </div>
    </div>
     <div class="navbar_user_place">
         Anonymous User
        <div class="user_icon" onclick="toggleUserMenu()">&#128100;</div>
        <div class="user_menu" id="userMenu">
            <a href="#">Profil</a>
            <a href="#">Ustawienia</a>
            <a href="#">Wyloguj</a>
        </div>
    </div>
</div>